.section--banner .banner__img {
    max-width: 500px;
}

.section--banner .banner__action {
    position: relative;
    padding-right: 56px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.section--banner .banner__action:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 15px;
    width: 23px;
    height: 23px;
    background: url('/local/img/icons/arrow-down-45.svg') left top no-repeat;

}

.section--feedback {
    font-size: 22px;
}

.section--feedback .checkbox__label--policy  {
    font-size: 18px;
}

@media (max-width: 1024px) {
    .section--banner .banner__action {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .section--banner .banner__action {
        font-size: 16px;
    }

    .section--banner .banner__action:after {
        width: 16px;
        top: 20px;
        background-size: 16px;
    }
}

@media (max-width: 576px) {
    .section--banner .banner__action {
        padding-right: 24px;
    }

    .section--banner .banner__action:after {
        display: none;
    }

    .section--feedback {
        font-size: 16px;
    }

    .section--feedback .checkbox__label--policy  {
        font-size: 14px;
    }
}