##Server
#-------------------------
/.*
!/.gitignore

/_shared/bitrix/
/_shared/upload/


/*/public_html/bitrix
/*/public_html/upload
/*/public_html/local
/*/public_html/includes


*.gz
*.htaccess
*.htpasswd


/.osp/*
/.idea/*