##Server
#-------------------------
/.*
!/.gitignore

/_shared/bitrix/
/_shared/upload/
/_shared/local/tools/auth.php


/*/public_html/bitrix
/*/public_html/upload
/*/public_html/local
/*/public_html/includes


*.gz
*.htaccess
*.htpasswd


/.osp/*
/.idea/*
ivkov.php

/*.private
/*.public
/aivkov.ru/
/portal/

