.mobile-menu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #000;
    width: 100%;
}

.mobile-menu__list {
    display: flex;
    width: 100%;
    margin: 0;
}

.mobile-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    padding: 16px 5px;
    border-right: 1px solid var(--color-grey);
    text-align: center;
}

.mobile-menu__item a {
    display: block;
    color: var(--color-white);
    font-size: 14px;
    line-height: 1.2;
}

@media (max-width: 1024px) {
    .mobile-menu {
        display: block;

    }
}

@media (max-width: 768px) {
    .mobile-menu__item a {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .mobile-menu__item a {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .mobile-menu__item a {
        font-size: 11px;
    }
}