.bonus {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
}

.bonus__img {
    max-width: 350px;
}

.bonus__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 800px;
    flex-grow: 1;
}

.bonus__item {
    display: flex;
    gap: 36px;
}

.bonus__item-img {
    width: 70px;
    flex-shrink: 0;
}

.bonus__item-img img {
    width: 100%;
}

.bonus__item-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
}


@media (max-width: 1024px) {
    .bonus {
        flex-direction: column;
    }

    .bonus__img {
        align-self: center;
    }
}

@media (max-width: 576px) {
    .bonus__item {
        gap: 24px;
    }
}

@media (max-width: 480px) {
    .bonus__item {
        flex-direction: column;
        gap: 16px;
        align-items: center;
        text-align: center;
    }

   .bonus__item-title {
       margin-bottom: 8px;
   }

}