.description {
    color: var(--color-white);
}

.description__inner {
    margin: 0 auto;
    max-width: 726px;
    padding: 48px 36px;
    font-size: 26px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid var(--color-white);
    border-radius: 16px;
    box-shadow: var(--shadow);
}
