.steps__item {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 60px 0;
    border-bottom: 1px solid var(--color-bg);
}

.steps__img {
    width: 160px;
    border-radius: 100%;
    flex-shrink: 0;
}

.steps__info {
    flex-grow: 1;
}

.steps__title.title {
    font-size: 26px;
    max-width: 540px;
    margin-bottom: 8px;
}

.steps__text {
    max-width: 604px;
}

.steps__number {
    font-size: 40px;
    color: var(--color-accent);
    align-self: center;
}

@media (max-width: 768px) {
    .steps__number {
        order: -1;
        align-self: flex-start;
    }

    .steps__item {
        flex-wrap: wrap;
        padding: 32px 0;
    }

    .steps__info {
        width: 100%;
    }

    .steps__title.title {
        font-size: 22px;
    }

}

