:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;

    --color-accent: #39c3e0;
    --color-text: #000;
    --color-bg: #f2f3f8;
    --color-white: #FFF;
    --color-footer: #bdddde;
    --color-hover: #33aabb;
    --color-disabled: #d6d6d6;
    --color-gray: #eee;
    --color-gray2: #ccc;
    --color-border: #ccc;
    --color-success: green;
    --color-error: red;
    --color-desc: #134772;
    --color-footer: #bdddde;

    --transition: all .3s ease-in-out;
    --transition-btn: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    --transition-quick: all .15s ease-in-out;
    --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-medium.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-semibold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.section {
    margin-bottom: 64px;
}

.section__title {
    text-align: center;
    margin-bottom: 36px;
}

.transition {
    transition: var(--transition);
}

p {
    margin-bottom: 24px;
}

.content p {
    line-height: 26px;
}

ul.list, .content ul {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 24px;
}

.list li, .content ul li {
    position: relative;
    padding-left: 24px;
}

.list li:before, .content ul li:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 6px;
    width: 4px;
    height: 4px;
    background: var(--color-accent);
    border-radius: 100%;
}

/* Btn */

.btn {
    height: 40px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: var(--color-white);
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    cursor: pointer;
    transition: var(--transition-btn);
    text-decoration: none;
}

.btn:hover:not(:disabled) {
    background: var(--color-hover);
    border-color: var(--color-hover);
    transition: var(--transition-btn);
}

.btn:disabled {
    background: var(--color-disabled);
    border-color: var(--color-disabled);
    transition: var(--transition-btn);
}

.btn--200 {
    width: 200px;
}

.btn--fullwidth {
    width: 100%;
}

/* Header */

.header {
    padding: 16px 0;
    margin-bottom: 48px;
}

.header__container {
    position: relative;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__logo {
    flex-shrink: 0;
}

.logo {
    display: block;
    width: 210px;
}

.header__right {
    display: grid;
    gap: 8px;
    white-space: nowrap;
    justify-items: end;
}

.header__phone {
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
}

.header__feedback-link {
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-accent);
}


/* Top menu */

.top-menu__list, .footer-menu__list {
    display: flex;
    gap: 16px 32px;
    align-items: center;
    flex-wrap: wrap;
}

.top-menu a, .footer-menu a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: var(--transition);
    white-space: nowrap;
}

.top-menu a:hover, .top-menu__item.selected a,.footer-menu a:hover {
    color: var(--color-accent);
    transition: var(--transition);
}

.top-menu__item--parent {
    position: relative;
}

.top-menu__list--children {
    position: absolute;
    left: 0;
    top: 50px;
    padding: 16px 24px;
    background: var(--color-white);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}

.top-menu__item--parent>a {
    position: relative;
    padding-right: 20px;
}

.top-menu__item--parent>a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background: url('/local/img/icons/chevron-down.svg') left center no-repeat;
    transition: var(--transition);
}

.top-menu__item--parent>a:hover:after {
    background-image: url('/local/img/icons/chevron-down-accent.svg');
    transition: var(--transition);
}

.top-menu__item--parent.is-active ul {
    opacity: 1;
    pointer-events: auto;
    top: 35px;
    transition: var(--transition);
}

.top-menu__list--children {
    display: flex;
    gap: 16px
}

.hamb {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: 32px;
    width: 24px;
    height: 22px;
    display: none;
    z-index: 2;
}

.hamb i {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 2px;
    background: var(--color-text);
}

.hamb i {
    transition: all .5s ease-in-out;
}

.hamb i:first-child {
    top: 0;
}

.hamb i:nth-child(2) {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.hamb i:last-child {
    top: unset;
    bottom: 0;
}


.top-menu.opened .hamb i:first-child {
    transform: rotate(45deg);
    top: 10px;
}

.top-menu.opened .hamb i:last-child {
    transform: rotate(-45deg);
    bottom: 10px;
}

.top-menu.opened .hamb i:nth-child(2) {
    opacity: 0;
}

.footer {
    background: var(--color-footer);
    padding: 36px 0;
}

.footer__logo {
    margin-right: 32px;
    flex-shrink: 0;
}

.footer__top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 24px;
    }

    .header__left {
        gap: 0;
    }

    .top-menu__list {
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--color-white);
        top: 0;
        right: -100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 24px 24px 24px;
        transition: var(--transition)
    }

    .top-menu.opened .top-menu__list {
        right: 0;
        transition: var(--transition)
    }

    .header__right {
        padding-right: 70px;
    }

    .hamb {
        display: block;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }

    .header {
        margin-bottom: 32px;
    }

    .header__logo {
        width: 180px;
    }

    .footer-menu__list {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 576px) {
    .header__container {
        flex-direction: column;
        gap: 24px;
    }

    .header__left {
        position: relative;
        width: 100%;
    }

    .header__right {
        padding-right: 0;
        justify-items: center;
    }
}




