:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;

    --color-accent: #39c3e0;
    --color-text: #000;
    --color-bg: #f2f3f8;
    --color-white: #FFF;
    --color-footer: #bdddde;
    --color-hover: #33aabb;
    --color-disabled: #d6d6d6;
    --color-adv: #134872;
    --color-grey: #eee;
    --color-grey2: #ccc;
    --color-border: #ccc;
    --color-input: #777;
    --color-success: green;
    --color-error: #e71a1a;
    --color-desc: #134772;
    --color-date: #999;
    --color-footer: #bdddde;


    --transition: all .3s ease-in-out;
    --transition-btn: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    --transition-quick: all .15s ease-in-out;
    --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-medium.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-semibold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/local/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
    url('/local/fonts/montserrat/montserrat-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.section--no-pt {
    padding-top: 0;
}

.section--no-pb {
    padding-bottom: 0;
}

.section--grey {
    background: var(--color-grey);
}

.section--dark-accent {
    background: var(--color-adv);
}

.section__title {
    text-align: center;
    margin-bottom: 36px;
    font-size: 32px;
    font-weight: bold;
}

.section__title--big {
    font-size: 40px;
    line-height: 1.2;
}

.page {
    padding-bottom: 64px;
}

.page__title {
    margin-bottom: 24px;
}

.transition {
    transition: var(--transition);
}

p, ul, ol {
    margin-bottom: 24px;
    line-height: 1.7;
}

.content {

}

.content h1, .content h2 {
    padding-bottom: 24px;
    line-height: 1.2
}

.content ol, .content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-position: inside;
}

.content ol {
    padding-left: 24px;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.error {
    color: var(--color-error);
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
}


ul.list, .content ul {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 24px;
}

.list li, .content ul li {
    position: relative;
    padding-left: 24px;
}

.list li:before, .content ul li:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 10px;
    width: 4px;
    height: 4px;
    background: var(--color-accent);
    border-radius: 100%;
}

/* Btn */

.btn {
    height: 40px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: var(--color-white);
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    cursor: pointer;
    transition: var(--transition-btn);
    text-decoration: none;
}

.btn:hover:not(:disabled) {
    background: var(--color-hover);
    border-color: var(--color-hover);
    transition: var(--transition-btn);
}

.btn:disabled {
    background: var(--color-disabled);
    border-color: var(--color-disabled);
    transition: var(--transition-btn);
    cursor: default;
}

.btn--200 {
    width: 200px;
}

.btn--fullwidth {
    width: 100%;
}

/* Header */

.header {
    padding: 16px 0;
    margin-bottom: 48px;
}

.header__container {
    position: relative;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__logo {
    flex-shrink: 0;
}

.logo {
    display: block;
    width: 210px;
}

.header__city {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    color: var(--color-accent);
}

.header__city img {
    width: 24px;
}

.header__right {
    display: grid;
    gap: 8px;
    white-space: nowrap;
    justify-items: end;
}

.header__phone {
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
}

.header__feedback-link {
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-accent);
}

.header__social {
    margin-top: 8px;
}

/* Tabs */
.tab {
    cursor: pointer;
}

.tab-block {
    display: none;
}

.tab-block.is-active {
    display: block;
}

/* Table */
.table {
    border-collapse: collapse;
}

.table td, .table th {
    padding: 4px 12px;
}

/* Contacts */
.contacts {

}

.contacts__address {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-accent);
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 18px;
}

.contacts__address.is-active .contacts__address-address {
    border-bottom: 2px solid var(--color-accent);
}

.contacts__address img {
    width: 24px;
}

.contacts__main {
    display: flex;
    gap: 24px
}

.contacts__map {
    flex-grow: 1;
    position: relative;
}

.contact {
    display: flex;
    gap: 24px;
}

.contacts__info {
    position: relative;
    width: 400px;
    padding: 36px;
}

.contacts__info:before, .contacts__info:after {
    content: '';
    position: absolute;
    width: calc(100% - 48px);
    height: 75px;
    border: 4px solid var(--color-accent);
    z-index: -1;
}

.contacts__info:before {
    left: 0;
    top: 0;
    border-right: none;
    border-bottom: none;
}

.contacts__info:after {
    right: 0;
    bottom: 0;
    border-left: none;
    border-top: none;
}

.contacts__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact__img {
    width: 36px;
}

.contact__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 12px;
}

.contact__contact {
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 4px;
}
.contact__contact a {
    color: var(--color-text);
}

.contact__contact:last-child {
    margin-bottom: 0;
}
/* Form */
.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.form__fields--policy {
    gap: 8px;
}

.form__message {
    font-size: 12px;
    margin-bottom: 4px;
    display: none;
}

.form__message.is-active {
    display: block;
}

.form__message--error {
    color: var(--color-error);
}

/* inpuy-block */

.input-block {
    position: relative;
}

.input-block__input {
    border: 1px solid var(--color-input);
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding: 10px 12px;
}

.input-block__input.is-error {
    border-color: var(--color-error);
}

.input-block__input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.input-block__input--textarea {
    height: 72px;
}

.input-block__label {
    position: absolute;
    left: 8px;
    top: -9px;
    font-size: 13px;
    padding: 0 2px;
    background: var(--color-white);
}

.input-block__label sup {
    color: var(--color-accent);
}


.input-block__dropdown {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    background: var(--color-white);

    padding: 10px;
    overflow-y: auto;
    z-index: 1;
}

.input-block__dropdown-list {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.input-block__dropdown-list::-webkit-scrollbar {
    z-index: -1;
    width: 6px;
}

.input-block__dropdown-list::-webkit-scrollbar-track {
    background: var(--color-white);
}

.input-block__dropdown-list::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

.input-block__dropdown.is-active {
    display: block;
}

.input-block__dropdown-item {
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-grey);
    cursor: pointer;
    overflow: hidden;
}

.input-block__dropdown-item:not(.empty):hover {
    background: var(--color-grey);
}

.input-block__dropdown-item.empty {
    cursor: default;
    color: green;
}

.input-block__dropdown-item:first-child {
    border-top: none;
}

/* Checkbox */
.checkbox__input {
    display: none;
}

.checkbox__label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
}

.checkbox__label--policy {
    font-size: 14px;
}

.checkbox__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-input);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}

.checkbox__label--policy .checkbox__icon {
    top: -2px;
}

.checkbox__icon .icon {
    display: none
}

.checkbox__input:checked + label .checkbox__icon {
    background: var(--color-accent) url("/local/img/icons/check.svg") center center no-repeat;
    background-size: 24px;
}

.checkbox__input:checked + label .checkbox__icon .icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: var(--color-white);
}

/* Social */

.social {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}
.social__img {
    width: 36px;
}

/* Footer */

.footer {
    background: var(--color-footer);
    padding: 36px 0;
}

.footer__logo {
    margin-right: 32px;
    flex-shrink: 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 300;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    padding: 20px;
}

.modal.is-active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: flex;
}

.modal__inner {
    background-color: var(--color-white);
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    padding: 24px 40px 32px;
    margin: auto;
    position: relative;
}

.modal__inner--order {
    max-width: 600px;
}

.modal__close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transform-origin: center center;
    transition: var(--transition);
}

.modal__close:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 160%;
    left: -8px;
    top: -9px;
}

.modal__close:hover {
    transform: rotate(180deg);
    top: 22px;
    transition: var(--transition);
}

.modal__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    padding-right: 16px;
}

.modal-success__img {
    text-align: center;
    margin-bottom: 32px;
}

.modal-success__img img {
    width: 100px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 24px;
    }

    .title {
        font-size: 32px;
    }

    .header__left {
        gap: 0;
    }

    .header__right {
        padding-right: 70px;
    }

    .contacts__info {
        padding: 24px;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }

    .header {
        margin-bottom: 32px;
    }

    .header__logo {
        width: 180px;
    }

    .title {
        font-size: 28px;
    }

    .section__title {
        font-size: 28px;
    }

    .section__title--big {
        font-size: 36px;
    }

    .contacts__main {
        flex-direction: column
    }

    .contacts__map {
        height: 300px;
    }

    .contacts__info {
        width: 100%;
        padding: 48px;
    }

    .footer__menu {
        order: 2;
        width: 100%;
    }

    .footer-menu__list {
        justify-content: center;
    }

    .footer__top {
        flex-wrap: wrap;
    }

    .footer__top .social {
        order: 1;
    }

    .footer__copy {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .header__container {
        flex-direction: column;
        gap: 24px;
    }

    .header__left {
        position: relative;
        width: 100%;
    }

    .header__right {
        padding-right: 0;
        justify-items: center;
    }

    .title {
        font-size: 22px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title--big {
        font-size: 24px;
    }

    .contacts__info {
        width: 100%;
        padding: 24px;
    }

    .input-block__dropdown {
        top: 100px;
        padding-right: 0;
    }

    .input-block__dropdown-item {
        padding: 12px 0;
        font-size: 14px;
    }

    .footer__top {
        justify-content: center;
    }
}




