.services-main {

}

.services-main__list {

}

.services-main__item {
    display: flex;
    padding: 44px 0;
    border-bottom: 1px solid var(--color-bg);
}

.services-main__number {
    font-size: 80px;
    color: var(--color-accent);
    width: 142px;
    flex-shrink: 0;
}

.services-main__img {
    width: 280px;
    flex-shrink: 0;
    margin-right: 20px;
}

.services-main__img img {
    width: 100%;
}

.services-main__info {

}

.services-main__item .title {
    font-size: 26px;
    margin-bottom: 12px;
}

.services-main__text {
    font-size: 24px;
}

.services-main__features {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.services-main__feature-item {
    height: 64px;
}

.services-main__action {
    margin-top: 40px;
    text-align: right;
}

@media (max-width: 1280px) {
    .services-main__text {
        font-size: 22px;
    }

    .services-main__feature-item {
        height: 48px;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .services-main__number {
        font-size: 60px;
        width: 110px;
    }

    .services-main__img {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .services-main__item {
        padding: 16px 0 32px;
        flex-wrap: wrap;
    }

    .services-main__img {
        margin-bottom: 16px;
    }

    .services-main__text {
        font-size: 20px;
    }

    .services-main__number {
        font-size: 60px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .services-main__feature-item {
        width: 100%;
    }
}

