.bonus__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.bonus__tab {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    height: 100px;
    padding: 0 24px;
    background: var(--color-white);
    border: 1px solid var(--color-text);
    border-radius: 8px;
    font-size: 24px;
    font-family: Unbounded, Arial, Helvetica, sans-serif;
}

.bonus__tab.is-active {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
}

.bonus__tab-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border: 1px solid var(--color-text);
    border-radius: 50%;
}

.bonus__tab-radio span {
    width: 28px;
    height: 28px;
    background: var(--color-white);
    border-radius: 50%;
}

.bonus__tab.is-active .bonus__tab-radio {
    border-color: var(--color-white);
}

.bonus__tab-img {
    flex-shrink: 0;
    width: 86px;
    margin-left: 44px;
}

.bonus__content {
    display: flex;
    gap: 48px;
}

.bonus__img {
    width: 400px;
    flex-shrink: 0;
}

.bonus__img img {
    border-radius: 16px;
}

.bonus__info-title {
    font-family: Unbounded, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}

.bonus__list {
    display: grid;
    gap: 16px
}

.bonus__item {
    display: flex;
    gap: 24px;
    padding: 16px 20px;
    border: 1px solid var(--color-text);
    border-radius: 8px;
}

.bonus__item-img {
    width: 62px;
    flex-shrink: 0;
}

.bonus__item-title {
    font-family: Unbounded, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bonus__item-description {
    font-size: 20px;
}

@media (max-width:1024px) {
    .bonus__tabs {
        gap: 24px
    }

    .bonus__tab {
        height: 90px;
        padding: 0 16px;
        font-size: 20px;
        width: 100%;
    }

    .bonus__tab-img {
        width: 64px;
        margin-left: 32px;
    }

    .bonus__content {
        flex-direction: column;
    }
    
    .bonus__img {
        width: 100%;
        max-width: 400px;
    }

}

@media (max-width:576px) {
    .bonus__tab {
        height: 70px;
        font-size: 16px;
    }

    .bonus__tab-img {
        width: 48px;
        margin-left: 16px;
    }

    .bonus__tab-radio {

        width: 28px;
        height: 28px;

    }

    .bonus__tab-radio span {
        width: 16px;
        height: 16px;

    }
}