.steps {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    padding-top: 32px;
    gap: 24px;
}

.steps__item {
    position: relative;
    align-items: flex-start;
    width: 50%;
    min-height: 250px;
}

.steps__item:last-child {
    min-height: unset;
}

.steps__item:nth-child(odd) {
    padding-left: 96px;
    align-self: flex-end;
}

.steps__item:nth-child(even) {
    padding-right: 96px;
    text-align: right;
}

.steps__item:not(:last-child):before {
    content: '';
    position: absolute;
    top: 25px;
    width: 6px;
    height: 100%;
    background: #134872;
}

.steps__item:nth-child(odd):before {
    left: -3px;
}

.steps__item:nth-child(even):before {
    right: -3px;
}

.steps__item-title {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
}

.steps__number {
    position: absolute;
    right: -50px;
    top: -20px;
    width: 100px;
    height: 100px;
    display: flex;
    background: #134872;
    font-size: 48px;
    font-weight: 800;
    color: var(--color-white);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.steps__item:nth-child(odd) .steps__number {
    left: unset;
    right: 0;
}

.steps__item:nth-child(odd) .steps__number {
    right: unset;
    left: -50px;
}


@media (max-width: 1024px) {
    .steps__item:nth-child(odd) {
        padding-left: 56px;
    }

    .steps__item:nth-child(even) {
        padding-right: 56px;
    }

    .steps__number {
        width: 70px;
        height: 70px;
        right: -35px;
        font-size: 36px;
        top: -13px;
    }

    .steps__item:nth-child(odd) .steps__number {
        left: -35px;
    }

    .steps__item-title {
        margin-bottom: 12px;
    }

}

@media (max-width: 768px) {
    .steps {
        padding-top: 24px;
        padding-left: 48px;
    }

    .steps__item {
        width: 100%;
        min-height: 180px;
    }

    .steps__item:nth-child(odd) r {
        right: unset;
        left: -50px;
    }

    .steps__item:nth-child(odd) {
        align-self: flex-start;
    }

    .steps__item:nth-child(even) {
        text-align: left;
        padding-right: 0;
        padding-left: 64px;
    }

    .steps__item:nth-child(even) .steps__number {
        right: unset;
        left: -35px;
    }

    .steps__item:nth-child(even):before {
        right: unset;
        left: -3px;
    }
}

