
.top-menu__list {
    display: flex;
    gap: 16px 32px;
    align-items: center;
    flex-wrap: wrap;
}

.top-menu a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: var(--transition);
    white-space: nowrap;
}

.top-menu a:hover {
    color: var(--color-accent);
    transition: var(--transition);
}

.top-menu__item--parent {
    position: relative;
}

.top-menu__item--parent>ul {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.top-menu__item--parent>a {
    position: relative;
    padding-right: 20px;
}

.top-menu__item--parent>a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background: url('/local/img/icons/chevron-down.svg') left center no-repeat;
}

