.reviews {

}

.reviews__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    margin-bottom: 24px;
}

.review {
    display: flex; gap: 36px;
}

.review__img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.review__img img {
    border-radius: 100%;
}

.review__main {

}

.review__title {
    font-weight: bold;
    margin-bottom: 8px;
}

.review__text {
    line-height: 2;
}

.reviews__add-btn {
    margin-left: auto;
}

.input-block__input.review__add-textarea {
    height: 200px;
}

@media (max-width: 1280px) {
    .reviews__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    .review__img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .review__img {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 576px) {
    .reviews__list {
        gap: 0;
    }

    .review {
        flex-direction: column;
        border-bottom: 1px solid var(--color-border);
        padding: 36px 0;
        gap: 24px
    }

    .review:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .review__text {
        font-size: 14px;
    }
}
