/* Banner */
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

h1.banner__title {
    font-size: 40px;
}

h2.banner__title {
    font-size: 32px;
}

.banner__info {
    display: grid;
    gap: 24px;
}

.banner__desc {
    font-size: 18px;
    line-height: 32px
}

.banner__desc--accent {
    position: relative;
    padding-left: 16px;
    border-left: 4px solid var(--color-accent);
}

.banner__picture {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.banner__img {
    max-width: 600px;
}

.banner__img--small {
    max-width: 400px;
}

@media (max-width: 768px) {
    .banner {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .banner__img {
        max-width: 400px;
    }

    .banner__title {
        text-align: center;
    }
    h1.banner__title {
        font-size: 32px;
    }

    h2.banner__title {
        font-size: 28px;
    }

    .banner__picture {
        order: 2;
        max-width: unset;
        justify-items: center;
        text-align: center;
    }
}
@media (max-width: 576px) {
    h1.banner__title, h2.banner__title {
        font-size: 24px;
    }

    .banner__desc--accent {
        padding-left: 0;
        border-left: none;
    }
}
