.footer-menu__list {
    column-count: 2;
}

.footer-menu__item {
    font-size: 24px;
    font-weight: 400;
    padding-right: 24px;
    margin-bottom: 20px;
}

.footer-menu__link {
    color: var(--color-white);
    white-space: nowrap;
}

@media (max-width: 1280px) {
    .footer-menu__item {
        margin-bottom: 12px;
    }

    .footer-menu__link {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .footer__title {
        font-size: 20px;
    }

    .footer-menu__list {
        column-count: 1;
    }
}