.swap__list {
    display: grid;
    gap: 40px
}

.swap__item {
    display: flex;
    align-items: center;
    gap: 84px;
}

.swap__img {
    width: 316px;
    flex-shrink: 0;
}

.swap__info {
    padding: 40px 0;
    border-top: 1px solid var(--color-bg);
    border-bottom: 1px solid var(--color-bg);
}

.swap__title.title {
    margin-bottom: 16px;
    line-height: 1.25;
}

.swap__item:nth-child(even) .swap__img {
    order: 2
}

.swap__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 16px;
}

@media (max-width: 1280px) {
    .swap__item {
        gap: 64px;
    }

    .swap__img {
        width: 260px;
    }

}

@media (max-width: 1024px) {
    .swap__item {
        gap: 48px;
    }

    .swap__img {
        width: 200px;
    }

    .swap__info {
        border: none;
    }
}

@media (max-width: 768px) {
    .swap__item {
        flex-direction: column;
        gap: 36px;
        margin-bottom: 24px;
    }

    .swap__img {
        width: 260px;
    }

    .swap__item:last-child {
        margin-bottom: 0;
    }

    .swap__info {
        padding: 0;
    }

    .swap__item:nth-child(even) .swap__img {
        order: unset
    }

}

